# Ignore everything
*

# But descend into directories
!*/

!*.gitignore
!*.py
!*.ipynb
!*.md
!*.gif
# !projects/bolinas_civic/network_inputs/*
# !projects/bolinas_civic/demand_inputs/*

# Ignore
example
*.ipynb_checkpoints*
